extends layout

mixin consolelist(consoles) 
  div.w3-card
    table.w3-table.w3-striped
      tr
        th Name
        th Release Year
        th Developer
      for console in consoles
        tr
          td= console["name"]
          td= console["rel_year"]
          td= console["developer"]

mixin gamelist(games)
  div.w3-card
    table.w3-table.w3-striped
      tr
        th Name
        th Console
        th Publisher
        th Rating
      for game in games
        tr
          td= game["name"]
          td= consoleData[game["console"]]
          td= game["publisher"]
          td= game["rating"] + "/10"
    

block content
  div.w3-mobile
    div.w3-half.w3-container.w3-center.w3-margin-top
      h1 Newly Added Consoles
      +consolelist(consoles)
    div.w3-half.w3-container.w3-center.w3-margin-top
      h1 Newly Added Games
      +gamelist(games)

