extends ../layout

mixin consolelist(consoles, user)
  div.w3-card
    table.w3-table.w3-striped
      tr
        th Name
        th Release Year
        th Developer
        if user
          if user["role"] == "admin"
            th Actions
      for console in consoles
        tr
          td= console["name"]
          td= console["rel_year"]
          td= console["developer"]
          if user
            if user["role"] == "admin"
              td: div
                a.w3-button.w3-signal-black.w3-round(href=`/admin/consoles/edit/${console["id"]}`, style='padding: 6px; padding-left: 16px; padding-right: 16px; margin-right: 4px') Edit
                a.w3-button.w3-signal-black.w3-round(href=`/admin/consoles/delete/${console["id"]}`, style='padding: 6px; padding-left: 16px; padding-right: 16px') Delete

block content
  div.w3-center.w3-margin-top.w3-container
    if consoles
      h1 Console Database
      +consolelist(consoles, user)